version: '3.9'

services:
  web:
    build: .
    ports:
      -  "5000:5000"
    depends_on:
      - mysql 
    networks:
      - backend 
    
  mysql:
    image: mysql:8 
    environment:
      - MYSQL_ROOT_PASSWORD=password123
      - MYSQL_DATABASE=testdb
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - backend
volumes:
  mysql_data: 

networks:
  backend:
